////
/// @group Marketing
////

/// Icon color
$marketing-site-features-icon-color: $primary-color;
/// Feature headline font-size
$marketing-site-features-headline: 24px;
/// Feature title font-size
$marketing-site-features-title: 1.125rem;

.marketing-site-features {
  text-align: center;
  padding: 2rem 0;

  .fa {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $marketing-site-features-icon-color;
  }

  .marketing-site-features-title {
    font-size: $marketing-site-features-title;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 40em) {
    text-align: left;
  }
}

.marketing-site-features-headline {
  text-align: center;
  font-size: $marketing-site-features-headline;
}

.marketing-site-features-subheadline {
  margin-bottom: 2rem;
  text-align: center;
}
